.button-to-top {
  z-index: 1;
  border: 2px solid var(--color-light-grey);
  border-radius: 1rem;
  background: var(--color-table-body-highlight);
  opacity: 1;
  transition: opacity 1s;
  transform: rotate(-90deg);

  &:hover {
    background: var(--color-table-header-highlight);
    transition: background-color 0.5s;
    cursor: pointer;
  }

  &_hidden {
    z-index: -1;
    opacity: 0;
    transition: opacity 1s;
  }
}