@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansCyrl300.woff2") format("woff2"), url("../fonts/MuseoSansCyrl300.woff") format("woff");
  font-weight: 300;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansCyrl300Italic.woff2") format("woff2"), url("../fonts/MuseoSansCyrl300Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../fonts/MuseoSansCyrl500.woff2") format("woff2"), url("../fonts/MuseoSansCyrl500.woff") format("woff");
  font-weight: 500;
}
* {
  box-sizing: border-box;
}

:root {
  --width-wrapper-full-width: 134rem;
  --padding-top-main: 0;
  --padding-bottom-main: 0;
  font-size: 10px;
  --font-size-tcells: 0;
  --color-dark-blue: #417690;
  --color-light-blue: #79aec8;
  --color-ultra-light-grey: #d5d5d5;
  --color-light-grey: #999;
  --color-middle-grey: #666;
  --color-dark-grey: #444;
  --color-cornsilk: cornsilk;
  --color-light-background: #fffbed;
  --color-table-header-highlight: #f1ebe1;
  --color-table-body-highlight: #fbf6ec;
}

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 1.25rem;
  font: inherit;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--color-middle-grey);
}
.button_size_s {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.button-to-top {
  z-index: 1;
  border: 2px solid var(--color-light-grey);
  border-radius: 1rem;
  background: var(--color-table-body-highlight);
  opacity: 1;
  transition: opacity 1s;
  transform: rotate(-90deg);
}
.button-to-top:hover {
  background: var(--color-table-header-highlight);
  transition: background-color 0.5s;
  cursor: pointer;
}
.button-to-top_hidden {
  z-index: -1;
  opacity: 0;
  transition: opacity 1s;
}

.input {
  padding: 0.5rem;
  font: inherit;
  color: var(--color-dark-grey);
}
.input_size_s {
  font-size: 1.4rem;
  font-weight: 500;
}
.input:focus-visible {
  outline: none;
}

.body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "MuseoSans", sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  color: var(--color-middle-grey);
  background: var(--color-light-background);
}
.body__header, .body__footer {
  position: fixed;
  z-index: 10;
}
.body__footer {
  bottom: 0;
}

.header {
  width: 100%;
}
.header__wrapper {
  flex: 1;
  max-width: var(--width-wrapper-full-width);
  padding: 0 1.5rem;
}
.header__top-bar {
  background: var(--color-dark-blue);
}
.header__container {
  padding: 1rem 0;
}
.header__bottom-bar {
  background: var(--color-light-blue);
}
.header__button:not(:last-child) {
  margin-right: 2rem;
}
.header__label {
  margin-right: 1rem;
  color: var(--color-dark-grey);
}
.header__input {
  max-width: 10rem;
  color: var(--color-dark-grey);
}

.main {
  padding-top: var(--padding-top-main);
  padding-bottom: var(--padding-bottom-main);
}
.main__button-to-top {
  position: fixed;
  right: 6rem;
  bottom: calc(var(--padding-bottom-main) + 3rem);
}

.section__wrapper {
  flex: 1;
  max-width: var(--width-wrapper-full-width);
  padding: 0 1.5rem;
}

.table-controls {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.table-controls__error-message {
  margin: 0 0 1rem 0;
  flex-basis: 100%;
  text-align: center;
}
.table-controls__input {
  margin-right: 2rem;
  width: auto;
}
.table-controls__button:not(:last-child) {
  margin-right: 2rem;
}

.error-message {
  font-style: italic;
  font-weight: 600;
  color: var(--color-light-grey);
}

.table-container__table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table__cell {
  font-size: min(var(--font-size-tcells), 1.8rem);
}

.t-header {
  position: sticky;
  top: calc(var(--padding-top-main) - 30px);
  z-index: 10;
  background: var(--color-table-header-highlight);
}
.t-header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid var(--color-light-grey);
}

.t-header-cell {
  padding: 1rem 0;
  text-transform: uppercase;
}

.t-body-row:nth-child(even) {
  background: var(--color-table-body-highlight);
}

.t-body-cell {
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--color-ultra-light-grey);
  text-align: center;
}

.footer {
  width: 100%;
  background: var(--color-light-blue);
}
.footer__wrapper {
  flex: 1;
  max-width: var(--width-wrapper-full-width);
  padding: 0 2.5rem;
}
.footer__container {
  padding: 2rem 0;
}
.footer__content {
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
  color: var(--color-light-background);
}

/*# sourceMappingURL=styles.css.map */
