.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'MuseoSans', sans-serif;
  font-size: 1.6rem;
  line-height: 2;
  //background: $color-grayscale-1;
}
//$FileNameWithoutExtension$.css:$FileNameWithoutExtension$.css.map