:root {
  --width-wrapper-full-width: 134rem;

  font-size: 10px;
  --font-size-tcells: 0;

  --color-dark-blue: #417690;
  --color-light-blue: #79aec8;
  --color-ultra-light-grey: #d5d5d5;
  --color-light-grey: #999;
  --color-middle-grey: #666;
  --color-dark-grey: #444;
  --color-cornsilk: cornsilk;
  --color-light-background: #fffbed;
  --color-table-header-highlight: #f5efe5;
  --color-table-body-highlight: #fbf6ec;
}
